.default-square-element {
    width: 20px;
    height: 20px;
    background-color: rgb(53, 120, 221);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.default-square-element:first-child {
    border-left: 1px solid black;
}

.default-row-element:first-child > .default-square-element {
    border-top: 1px solid black;
}

.default-row-element {
    display: flex
}
